:root{
    --bg: 	#f0f1fd;
    --bgSoft: #dadeeb;
    /* --bgSoft: #5da58b; */
    --hover: #c4c9e0;
    --text: rgb(55, 58, 120);
    --textSoft: #6174ba;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: var(--text);
}

a{
    color: inherit;
    text-decoration: none;
}
