.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
    width: 100%;
}
.container:hover{
    background-color: var(--hover);
}
.text{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.number{
    font-size: 24px;
    font-weight: 500;
}
.unit {
  font-size: 0.875rem;
  margin-left: 0.25rem;
  color: #888;
}
.detail{
    font-size: 14px;
    font-weight: 300;
}
.positive{
    color: lime;
}
.negative{
    color: red;
}